# .gitignore for py project and venv

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS files
.DS_Store

# Others
*.log